.list-group-item {
  padding: 2px 10px;
}

div.noPaddingNoMargin {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.scroller {
  background-color: red;
  margin: 0 auto;
  height: 100px;
  overflow: auto;
}

.form-control {
  border: 0;
}
